@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    font-size: 18px;
    padding: 20px;
    text-transform: capitalize;
    background-color:lightgrey;
}
/* Table ko sahi karne ke liye ye CSS mein add karein */
table, th, td {
    border: 1px solid red;
    border-collapse: collapse;
    padding: 10px;
}
button{
    margin-top: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    transition: 0.3s;
}
a{
    text-decoration: none;
    transition: 0.3s;
    color: blue;
    display: inline-block;
}
a:hover, button:hover{
    background-color: greenyellow;
    color: black;
}
a:active, button:active{
    background-color:darkgreen;
    transform: scale(0.9);
}
img{
    margin-top: 10px;
    margin-bottom: 10px;
}
form>div{
    margin-bottom: 10px;
    /* padding: 5px; */
}
.about{
    color:rgb(9, 16, 109);
    font-size: 36px;
    margin-bottom: 10px;
}
.para{
    color:rgb(0, 8, 6);
    font-size: 16px;
}
.headings{
    color: rgb(9, 16, 109);
    font-size: 24px;
}
.label{
    display: inline-block;
    /* margin-top: 10px; */
    /* margin-top: 5px; */
    font-weight: bold;
}
.username, .comment, .password, .services{
    display: block;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
}
.my, .youtube{
    margin-bottom: 10px;
}
.checkbox, .role{
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    padding: 5px;
}
.comment{
    font-size: 16px;
    line-height: 1.2;
}